@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  position: relative;
}

header {
  padding-top: 46px;
  background-image: url(../assets/home/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fafafa;
  background-position: center -130px;
  padding-bottom: 725px;
}

img.logo {
  display: block;
  margin: auto;
}

img.heroImg {
  padding-top: 80px;
  width: 46.5%;
  display: block;
  margin: 0 auto;
}

h1 {
  color: #333950;
  line-height: 48px;
  text-align: center;
  font-size: 2.22rem;
}

.secondary {
  width: 93.7%;
  margin: 64px auto;
}

p {
  font-size: 0.88rem;
  color: #747b95;
  text-align: center;
  line-height: 26px;
  margin: 0px auto 16px;
}

button {
  /* width: 200px; */
  padding: 14px 45.5px;
  background-color: #5275ff;
  font-weight: 600;
  margin: auto;
  display: block;
  line-height: 28px;
  font-size: 0.88rem;
  color: white;
  border-radius: 28px;
  border: none;
}

main {
  text-align: center;
  position: relative;
  top: -725px;
  z-index: 2;
}

.card {
  width: 327px;
  min-width: 82%;
  margin: 10px auto;
  padding-bottom: 40px;
  border-radius: 20px;
  padding-top: 40px;
}

.card h2 {
  font-size: 1.1rem;
  line-height: 28px;
  font-weight: 600;
}

.card h3 {
  font-size: 3.1rem;
  line-height: 64px;
  margin-top: 40px;
  font-weight: 600;
}

.card h4 {
  margin-top: 8px;
  font-size: 0.89rem;
  line-height: 28px;
  margin-bottom: 56px;
}

.card button {
  margin-top: 16px;
  color: #5275ff;
}

.basic {
  background-color: white;
}

.basic button {
  background-color: #cedddd;
}

.pro {
  background-color: #5175ff;
  background-image: url(/assets/home/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}

.pro p {
  color: white;
}

.pro button {
  background-color: white;
  color: #5175ff;
}

.ultimate {
  background-color: white;
}

.ultimate button {
  background-color: #e0f0ef;
}

footer {
  background-color: #25293a;
  background-image: url(../assets/home/bg-pattern-footer.svg);
  background-repeat: repeat;
  background-size: contain;
  height: auto;
  margin-top: -1471px;
  padding-bottom: 40px;
  z-index: 1;
  position: relative;
  color: white;
}

.timer {
  padding-top: 800px;
  text-align: center;
  width: 327px;
  max-width: 87.3%;
  margin: auto;
}

.timer h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.888rem;
  line-height: 48px;
  font-weight: 600;
}

.timer time {
  margin-left: 5px;
  color: #5175ff;
}

.timer button {
  margin-top: 40px;
  margin-bottom: 82px;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.countdown p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 72px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333950;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 48px;
  border-radius: 4px;
}

.countdown span {
  font-size: 0.7rem;
  line-height: 28px;
}

@media screen and (min-width: 720px) {
  .logoContainer, .contentWrapper {
    width: 82.7%;
    margin: auto;
  }
  img.logo {
    display: block;
    margin: 0;
  }
  img.heroImg {
    width: 91%;
  }
  .contentWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .secondary {
    width: 76%;
  }
  .secondary h1 {
    text-align: left;
  }
  .secondary p {
    text-align: left;
  }
  .secondary button {
    margin-left: 0;
  }
  .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: self-start;
    padding-left: 30px;
  }
  .card h3 {
    margin-top: 0px;
  }
  .card h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .card p {
    margin: 0;
  }
  .card button {
    margin: 0;
  }
  footer {
    margin-top: -1120px;
  }
  footer .timer {
    padding-top: 462px;
  }
}
/*# sourceMappingURL=stye.css.map */