@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
$btn-bg-color: #5275ff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    position: relative;
}

header {
    padding-top: 46px;
    background-image: url(../assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fafafa;
    background-position: center -130px;
    padding-bottom: 725px;
    // bottom: -122px;
    // position: relative;
}

img.logo {
    display: block;
    margin: auto;
    //padding-top: 22px;
}

img.heroImg {
    padding-top: 80px;
    width: 46.5%;
    display: block;
    margin: 0 auto;
}

h1 {
    color: #333950;
    line-height: 48px;
    text-align: center;
    font-size: 2.22rem;
    margin-bottom: 24px;
}

.secondary {
    width: 93.7%;
    margin: 64px auto;
    padding: 0 42px;
}

p {
    font-size: 0.88rem;
    color: #747b95;
    text-align: center;
    line-height: 26px;
    margin: 0px auto 24px;
}

button {
    /* width: 200px; */
    padding: 14px 45.5px;
    background-color: $btn-bg-color;
    font-weight: 600;
    margin: auto;
    display: block;
    line-height: 28px;
    font-size: 0.88rem;
    color: white;
    border-radius: 28px;
    border: none;
}

main {
    text-align: center;
    position: relative;
    top: -690px;
    z-index: 2;
}

.card {
    //width: 327px;
    // min-width: 82%;
    //width: min(87.2%, 600px); causing error with the scss compiler
    width: 600px;
    max-width: 87.2%;
    margin: 0 auto 32px;
    padding-bottom: 40px;
    border-radius: 20px;
    padding-top: 40px;

    h2 {
        font-size: 1.1rem;
        line-height: 28px;
        font-weight: 600;
    }

    h3 {
        font-size: 3.1rem;
        line-height: 64px;
        margin-top: 40px;
        font-weight: 600;
    }

    h4 {
        margin-top: 8px;
        font-size: 0.89rem;
        line-height: 28px;
        margin-bottom: 56px;
    }

    button {
        margin-top: 16px;
        color: $btn-bg-color;
    }
}

.basic {
    background-color: white;

    button {
        background-color: #cedddd;
    }
}

.pro {
    background-color: $btn-bg-color;
    background-image: url(/assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;

    p {
        color: white;
    }

    button {
        background-color: white;
        color: $btn-bg-color;
    }
}

.ultimate {
    background-color: white;

    button {
        background-color: #e0f0ef;
    }
}

footer {
    background-color: #25293a;
    background-image: url(../assets/home/bg-pattern-footer.svg);
    background-repeat: repeat;
    background-size: cover;
    height: auto;
    background-position: center;
    margin-top: -1510px;
    padding-bottom: 40px;
    z-index: 1;
    position: relative;
    color: white;
}

.timer {
    padding-top: 800px;
    text-align: center;
    //width: 327px;
    //max-width: 87.3%;
    margin: auto;

    h5 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 0.888rem;
        line-height: 48px;
        font-weight: 600;
    }

    time {
        margin-left: 5px;
        color: $btn-bg-color;
    }

    button {
        margin-top: 40px;
        margin-bottom: 82px;
    }
}

.timerDisplay {
    width: 327px;
    max-width: 87.3%;
    margin: auto;
}

.countdown {
    display: flex;

    p {
        display: flex;
        flex-direction: column;
        width: 72px;
        max-width: 20%;
        height: 92px;
        align-items: center;
        justify-content: center;
        //margin: auto;
        background-color: #333950;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 48px;
        border-radius: 4px;
    }

    span {
        font-size: 0.7rem;
        line-height: 28px;
    }
}

a {
    padding: 10px 10px;
    background-color: $btn-bg-color;
    font-weight: 600;
    margin: auto;
    display: block;
    line-height: 28px;
    font-size: 0.88rem;
    color: white;
    border-radius: 28px;
    width: 169px;
    text-decoration: none;
}

//SIGNUP MOBILE SPECIFIC STYLING
.signupHeader {
    padding-bottom: 625px;
    background-image: none;
}
.signupTimer {
    padding-top: 0px;
}

.signupFooter {
    margin-top: -790px;
    height: 320px;
    border: 13px;
}

form#formsection {
    width: 80%;
    margin: auto;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 13px;
}

label {
    position: relative;
    width: 84%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 5px;
    font-size: 1rem;
    align-items: baseline;
    border-bottom: 1px solid rgb(10, 5, 5);
}

input {
    width: 100%;
    background-color: white;
    color: white;
    border: none;
    outline: none;
    // padding-bottom: 10px;
    font-size: 1rem;
    margin-top: 20px;
}

small {
    position: absolute;
    bottom: -20px;
    color: #F67E7E;
    font-size: 1rem;
    visibility: hidden;
}

select#plan-select {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

input.submitForm {
    background: $btn-bg-color;
    padding: 20px;
    width: 279px;
    max-width: 90%;
    border-radius: 28px;
}

.signupMain {
    top: -578px;
}

// END OF SIGNUP MOBILE PAGE STYLING
@media screen and (min-width: 720px) {

    .logoContainer,
    .contentWrapper {
        width: 82.7%;
        margin: auto;
    }

    img.logo {
        display: block;
        margin: 0;
    }

    img.heroImg {
        width: 91%;
    }

    .contentWrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: nowrap;
    }

    .secondary {
        width: 76%;
        padding: 0;

        h1 {
            text-align: left;
        }

        p {
            text-align: left;
        }

        button {
            margin-left: 0;
        }
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: self-start;
        padding-left: 50px;
        padding-right: 50px;

        h3 {
            margin-top: 0px;
        }

        h4 {
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            margin: 0;
        }

        button {
            margin: 0;
        }
    }

    footer {
        margin-top: -1120px;

        .timer {
            padding-top: 462px;
        }
    }

    //------Signup form styling tablet ------
    .contentWrapperSignUp {
        flex-direction: column;
        h1 {
            text-align: center;
        }
        .secondary p {
            text-align: center;
        }
    }
    //----end of Signup form styling tablet ------
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 3.1rem;
        line-height: 64px;
        margin-bottom: 24px;
    }

    p {
        font-size: 1rem;
        line-height: 28px;
    }

    header {
        padding-bottom: 960px;
        background-position: 200% -104%;
        background-size: auto;
    }

    .logoContainer,
    .contentWrapper {
        width: 70.15%;
        margin: auto;
    }

    main {
        top: -875px;
        width: 50.15%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
    }

    .card {
        width: 350px;
        grid-template-columns: 1fr;
        justify-items: center;

        h3 {
            margin-top: 40px;
        }

        h4 {
            margin-top: 8px;
            margin-bottom: 56px;
        }

        p {
            margin: 0px auto 16px;
        }
    }

    .secondary {
        width: 41.3%;
        margin-left: 0;
    }

    .timer {
        display: flex;
        flex-direction: row;
        width: 70.15%;

        button {
            margin-right: 15px;
        }
    }

    .timerDisplay {
        margin-left: 15px;
    }

    a {
        margin: auto 0;
    }
    //signup desktop
    .signupMain {
        top: 78px;
        right: 220px;
        position: absolute;
        grid-template-columns: 1fr;
        width: 35.15%;
    }
    .signupFooter {
        top: 0;
        position: absolute;
        width: 33%;
        margin-top: 0;
        right: 0;
        height: 100vh;
    }
    .signupHeader {
        padding-bottom: 0;
        height: 100vh;
    }
}

@media screen and (min-width: 1650px) {
    .container {
        width: 95%;
        max-width: 1490px;
        margin: 0 auto;
    }
    
}