@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    position: relative;
}

header {
    padding-top: 46px;
    background-image: url(../assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fafafa;
    background-position: center -130px;
    padding-bottom: 725px;
}

img.logo {
    display: block;
    margin: auto;
    //padding-top: 22px;
}

img.heroImg {
    padding-top: 80px;
    width: 46.5%;
    display: block;
    margin: 0 auto;
}

h1 {
    color: #333950;
    line-height: 48px;
    text-align: center;
    font-size: 2.22rem;
}

.secondary {
    width: 93.7%;
    margin: 64px auto;
}

p {
    font-size: 0.88rem;
    color: #747b95;
    text-align: center;
    line-height: 26px;
    margin: 0px auto 16px;
}

button {
    /* width: 200px; */
    padding: 15px 50px;
    background-color: #5275ff;
    font-weight: 600;
    margin: auto;
    display: block;
    line-height: 28px;
    font-size: 0.88rem;
    color: white;
    border-radius: 28px;
    border: none;
}

main {
    text-align: center;
    position: relative;
    top: -725px;
    z-index: 2;
}

.card {
    width: 327px;
    margin: 10px auto;
    padding-bottom: 40px;
    border-radius: 20px;
    padding-top: 40px;

    h2 {
        font-size: 1.1rem;
        line-height: 28px;
        font-weight: 600;
    }

    h3 {
        font-size: 3.1rem;
        line-height: 64px;
        margin-top: 40px;
        font-weight: 600;
    }

    h4 {
        margin-top: 8px;
        font-size: 0.89rem;
        line-height: 28px;
        margin-bottom: 56px;
    }

    button {
        margin-top: 16px;
        color: #5275ff;
    }
}

.basic {
    background-color: white;
    button {
        background-color: #cedddd;
    }
}

.pro {
    background-color: #5175ff;
    background-image: url(/assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;

    p {
        color: white;
    }

    button {
        background-color: white;
        color: #5175ff;
    }
}

.ultimate {
    background-color: white;
    button {      
        background-color: #e0f0ef;
    }
}

footer {
    background-color: #25293a;
    background-image: url(../assets/home/bg-pattern-footer.svg);
    background-repeat: repeat;
    background-size: contain;
    height: auto;
    margin-top: -1471px;
    padding-bottom: 40px;
    z-index: 1;
    position: relative;
    color: white;
}

.timer {
    padding-top: 800px;
    text-align: center;
}
time {
    display: flex;
    justify-content: center;
}